.rotateicon {
  animation: rotate 2s linear infinite; /* Adjust the duration and timing function as needed */
  background-color: transparent;
  margin-top: 3.5rem;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .rotateicon {
    margin-top: 7rem;
  }
}

/* @media screen and (min-width: 769px) and (max-width: 1024px) {
    .rotateicon {
       
        margin-top: 18rem;
       
      }
   
  } */

/* @media screen and (min-width: 1025px) and (max-width: 1200px) {
    .rotateicon {
       
        margin-top: 10rem;
       
      }
    
  } */

@media screen and (min-width: 1201px) {
  .rotateicon {
    margin-top: 7rem;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
